@font-face {
  font-family: 'Inter';
  src: url("Inter-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'InterBold';
  src: url("Inter-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'InterExtraBold';
  src: url("Inter-ExtraBold.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
}

.container {
  background-image: url("graph.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  padding-bottom: 40px;
  background-color: black;
  min-height: 100vh;
  max-width: 100%;
}

.title img {
  width: 180px;
  padding: 80px 0;
  margin: auto;
  display: block;
}

.info-block {
  width: 80%;
  max-width: 600px;
  margin: auto;
  background-color: #141414;
  padding: 64px;
  border-radius: 24px;
}

.info-text {
  font-family: 'Inter';
  color: white;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-bottom: 40px;
}

.spacer {
  text-align: center;
}
.spacer-dot {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 40px;
  line-height: 40px;
}

.prompt {
  font-family: 'InterBold';
  margin: 40px auto;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 48px;
}

#mc_embed_signup {
  background-color: black;
  border-radius: 12px;
  display: block;
  margin: auto;
  width: 100%;
  height: 64px;
  position: relative;
}
#mc_embed_signup form.validate {
  padding: 10px 0;
}
#mc_embed_signup input.email.emailinput {
  font-size: 22px;
  width: calc(100% - 210px);
  max-width: none;
  position: absolute;
  top: 0px;
  margin: 8px 0 8px 8px;
  display: inline-block;
  height: 49px;
  color: white;
  padding: 0px 12px;
  background-color: black;
  font-size: 17px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  border: none;
  /* Overwrite */
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#mc_embed_signup div.clear {
  display: inline-block;
}
#mc_embed_signup div.clear input.button {
  width: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  border: 1px solid #00FB88;
  border-radius: 8px;
  color: #00FB88;
  margin: 8px 8px 8px 0;
  font-size: 17px;
  height: 49px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  /* Overwrite default */
  outline: none;
  -webkit-appearance: none;
}
input.button:hover {
  cursor: pointer;
  opacity: 0.8;
}


.footnotes {
  text-align: center;
  padding: 50px 40px 0px 40px;
  color: white;
  font-size: 16px;
  opacity: 0.5;
  line-height: 20px;
}

@media (max-width: 900px) {
  .container {
    background-image: none;
    background-color: black;
    padding-bottom: 20px;
  }
  .info-block {
    padding: 30px;
    width: calc(90% - 60px);
    max-width: none;
  }

  #mc_embed_signup {
    width: 100%;
    margin-bottom: 46px;
    background-color: transparent;
  }
  #mc_embed_signup input.email.emailinput {
    margin: 0px;
    display: block;
    left: 0px;
    border-radius: 8px;
    width: calc(100% - 24px);
  }
  #mc_embed_signup div.clear {
    display: block;
  }
  #mc_embed_signup div.clear input.button {
    top: 60px;
    margin: 0px;
    left: 0px;
    width: 100%;
    background-color: #141414;
  }

  .spacer {
    padding-top: 20px;
  }

  .prompt {
    font-size: 36px;
  }

  .footnotes {
    padding: 50px 0;
  }
}
